
 * {
    box-sizing: border-box;
}
body {
  background-image: url(./happyyyyy.jpg);
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
}



button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    
  }
 form{
    
    text-align: center;
    background-color: rgba(0, 255, 255, 0.788);
    border-radius: 15px;
    width: 50%;margin: auto;
    padding:  70px;
    margin-top: 50px;
    border: 100%;
   
 }

 h1{
    font-family: 'Satisfy', cursive;
    color: rgb(255, 140, 0);
    font-weight: 100;
    font-size: 400%;
    margin-top: 50px;

 
 }
 .l1{
     color: rgb(39, 112, 15);
     font-family: 'Fjalla One', sans-serif;
 }
